{
	"plugins": ["styled-components", "syntax-dynamic-import", "transform-runtime", "transform-async-to-generator"],
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		],
		"react",
		"stage-0",
		"babel-preset-env",
		"babel-preset-react"
	],
	"env": {
		"production": {
			"plugins": ["transform-react-remove-prop-types", "transform-react-constant-elements"]
		}
	}
}
