.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
	position: absolute;
	will-change: transform;
	filter: brightness(0.7);
	margin: -40vh auto;
}

.card1 {
	width: 115vh;
	top: 40%;
	left: 0;
	right: 0;
}

.card2 {
	width: 200px;
	top: 100%;
	left: 0;
	right: 0;
}

.card3 {
	width: 210px;
	top: 100%;
	left: 0;
	right: 0;
}

.card4 {
	width: 290px;
	top: 100%;
	left: 0;
	right: 0;
}

.card5 {
	width: 210px;
	top: 101%;
	left: 0;
	right: 0;
}

.playerImage {
	width: 100%;
	height: auto;
}
